extends ../0_base/template

block title
	title About

block content
	.block
		.l-wrapper.__w-540
			.block_header
				h1.block_title.like-h1 О клинике
			.block_content
				.text-block
					p.
						Специалисты ООО «Медико-санитарной части Сода» ведут приём 
						по полису ОМС и оказывают все бесплатные услуги, которые 
						входят в перечень, утвержденный Территориальной программой 
						оказания бесплатных <b>медицинских услуг</b>. В рамках платных 
						медицинских услуг можно получить консультации специалистов, 
						лабораторные, диагностические, лечебные и прочие <a href="#">виды услуг</a>.
					
					p.
						Медсанчасть оснащена современным лечебным и 
						диагностическим медицинским оборудованием. В учреждении 
						постоянно <b>внедряются достижения</b> современной науки и техники, 
						профилактические методики. Обслуживание ведет 
						квалифицированный <a href="#">медицинский персонал</a>, специалисты с 
						большим стажем, врачи высшей категории, среди них: терапевты, 
						хирург, отоларинголог, офтальмолог, гинеколог, стоматолог, 
						дерматолог, гастроэнтеролог, пульмонолог, психиатр-нарколог, 
						массажист, <a href="#">невролог-рефлексотерапевт</a>. Работают кабинеты 
						флюорографии, ФЛГ, физиотерапии. Оказывается широкий спектр 
						УЗИ-исследований (аппарат уровня 3Д).

					h3.
						Наши преимущества 

					p.
						Все <a href="#">медицинские специалисты</a> имеют  сертификаты, 
						подтверждающие обучение по специальности. Практически все 
						врачи имеют высшую <b>квалификацию</b>.  Также медсанчасть активно 
						работает с руководителями разных организаций, предлагая свои 
						услуги в проведении периодических и предварительных 
						медицинских осмотров. 

					p.
						Помимо этого в медсанчасти можно пройти обследования на 
						получение <b>медицинских справок</b> для водителей, справок на 
						оружие, на обучение. И всё это можно сделать <b>буквально за один 
						день</b>, что невероятно бережёт как время, так и нервы.
					
					.text-block_img
						img(src="media/img-p/1.jpg" alt="random photo")

					h3.
						Список с цифрами

					ol
						li.
							Лучшие специалисты, имеющие большой опыт работы в области 
							медицины
						li.
							Быстрая и качественная диагностика. Все виды анализов на базе 
							лабораторий-партнеров, ведущих научно-исследовательских 
							учреждений города.
						li.
							Для многих наших клиентов очень важна конфиденциальность. Мы 
							гарантируем полную анонимность при обращении в нашу клинику 
							(по желанию пациента прием без предъявления документов).
						li.
							У нас нет очереди, мы уважаем время наших клиентов.
						li.
							Создание психологического комфорта для пациентов, так как те 
							проблемы, которые мы решаем, требуют деликатного подхода.

					h3.
						Основные направления работы

					ul
						li.
							совершенствование методов малоинвазивной ультразвуковой 
							хирургии возрастной и осложненной катаракт;
						li.
							разработка системы комплексного лечения патологии роговицы 
							и аномалий рефракции;
						li.
							разработка хирургических, лазерных и фармакологических 
							методов реабилитации пациентов с заболеваниями сетчатки и 
							стекловидного тела;
						li.
							патогенетически направленные технологии в хирургии глаукомы, 
							методы профилактики.
