extends ../0_base/template

block title
	title Feedbacks

block content
	.block
		.l-wrapper.__w-540
			.block_header: h1.block_title Отзывы

			.block_content
				form(action="#" method="post").form
					h3.form_title Оставить отзыв

					.form_field-wrap
						label(for="author-name").form_field-label Фамилия Имя
						input(type="text" name="name" id="author-name" placeholder="Как вас зовут?").form_text-field

					.form_field-wrap
						label(for="feedback-text").form_field-label Отзыв
						textarea(name="text" id="feedback-text" placeholder="Содержание отзыва" rows="6").form_text-field.__textarea

					.form_actions
						button(type="submit").btn Отправить

				section.feedback-list
					+feedbackFull(
						"Валерий Крылов",
						"Делала лабиопластику у доктора Корявой Татьяны Фёдоровны, все понравилось, результатом я осталась очень довольна. Были сомнения по поводу анестезии , я не терплю боли, оказалось , что мои опасения бессмысленны. Татьяна Фёдоровна, спасибо Вам огромное за профессионализм , прекрасные человеческие качества!")
					+feedbackFull(
						"Валерий Крылов",
						"Делала лабиопластику у доктора Корявой Татьяны Фёдоровны, все понравилось, результатом я осталась очень довольна. Были сомнения по поводу анестезии , я не терплю боли, оказалось , что мои опасения бессмысленны. Татьяна Фёдоровна, спасибо Вам огромное за профессионализм , прекрасные человеческие качества!")
					+feedbackFull(
						"Валерий Крылов",
						"Делала лабиопластику у доктора Корявой Татьяны Фёдоровны, все понравилось, результатом я осталась очень довольна. Были сомнения по поводу анестезии , я не терплю боли, оказалось , что мои опасения бессмысленны. Татьяна Фёдоровна, спасибо Вам огромное за профессионализм , прекрасные человеческие качества!")
					+feedbackFull(
						"Валерий Крылов",
						"Делала лабиопластику у доктора Корявой Татьяны Фёдоровны, все понравилось, результатом я осталась очень довольна. Были сомнения по поводу анестезии , я не терплю боли, оказалось , что мои опасения бессмысленны. Татьяна Фёдоровна, спасибо Вам огромное за профессионализм , прекрасные человеческие качества!")
