nav.site-nav
	ul.site-nav_list
		li.site-nav_item: a(href="#").site-nav_link Главная
		li.site-nav_item: a(href="#").site-nav_link О клинике
		li.site-nav_item: a(href="#").site-nav_link Услуги
		li.site-nav_item: a(href="#").site-nav_link Часы приема
		li.site-nav_item: a(href="#").site-nav_link Отзывы
		li.site-nav_item: a(href="#").site-nav_link Дополнительно
		li.site-nav_item: a(href="#").site-nav_link Контакты