footer.site-foo
	.l-wrapper.site-foo_row
		.site-foo_info
			a(href="#").site-foo_logo

			p.site-foo_copyright.
				© Медицинский центр «ВИТА», 2010 — 2018. Имеются 
				противопоказания, необходима консультация 
				специалиста. Разработка сайта <a href="#">prostor.design</a>
		nav.site-foo_nav
			ul.site-foo_nav-list
				li.site-foo_nav-item.__title: a.site-foo_nav-link О нас
				li.site-foo_nav-item: a(href="#").site-foo_nav-link Клиника
				li.site-foo_nav-item: a(href="#").site-foo_nav-link Часы приема
				li.site-foo_nav-item: a(href="#").site-foo_nav-link Отзывы
				li.site-foo_nav-item: a(href="#").site-foo_nav-link Дополнительно
				li.site-foo_nav-item: a(href="#").site-foo_nav-link Контакты

			ul.site-foo_nav-list
				li.site-foo_nav-item.__title: a.site-foo_nav-link Для пациентов
				li.site-foo_nav-item: a(href="#").site-foo_nav-link Специалисты
				li.site-foo_nav-item: a(href="#").site-foo_nav-link Услуги
				li.site-foo_nav-item: a(href="#").site-foo_nav-link Акции
				li.site-foo_nav-item: a(href="#").site-foo_nav-link Лицензия
				li.site-foo_nav-item: a(href="#").site-foo_nav-link Документы

			ul.site-foo_nav-list
				li.site-foo_nav-item.__title: a.site-foo_nav-link Контакты
				li.site-foo_nav-item.__with-ic
					.site-foo_nav-icon: +icon("mapmin")
					a.site-foo_nav-link г. Березники, ул. Юбилейная 1, 2 этаж
				li.site-foo_nav-item.__with-ic
					.site-foo_nav-icon: +icon("mobilemin")
					a(href="#").site-foo_nav-link +7 (3424) 20-13-30
				li.site-foo_nav-item.__with-ic
					.site-foo_nav-icon: +icon("atmin")
					a(href="#").site-foo_nav-link help@vitacenter.ru
