.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-atmin {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-band-aid {
	font-size:(27/10)*1rem;
	width:(53/27)*1em;
}
.icon-braille {
	font-size:(33/10)*1rem;
	width:(52/33)*1em;
}
.icon-brain {
	font-size:(43/10)*1rem;
	width:(45/43)*1em;
}
.icon-clock {
	font-size:(12/10)*1rem;
	width:(12/12)*1em;
}
.icon-ear {
	font-size:(43/10)*1rem;
	width:(32/43)*1em;
}
.icon-heart {
	font-size:(38/10)*1rem;
	width:(44/38)*1em;
}
.icon-heartbeat {
	font-size:(38/10)*1rem;
	width:(42/38)*1em;
}
.icon-lungs {
	font-size:(43/10)*1rem;
	width:(53/43)*1em;
}
.icon-map {
	font-size:(25/10)*1rem;
	width:(33/25)*1em;
}
.icon-mapmin {
	font-size:(14/10)*1rem;
	width:(18/14)*1em;
}
.icon-microscope {
	font-size:(43/10)*1rem;
	width:(42/43)*1em;
}
.icon-mobile {
	font-size:(29/10)*1rem;
	width:(18/29)*1em;
}
.icon-mobilemin {
	font-size:(16/10)*1rem;
	width:(11/16)*1em;
}
.icon-scalpel-path {
	font-size:(43/10)*1rem;
	width:(53/43)*1em;
}
.icon-search {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-star-of-life {
	font-size:(43/10)*1rem;
	width:(43/43)*1em;
}
.icon-stethoscope {
	font-size:(43/10)*1rem;
	width:(42/43)*1em;
}
.icon-stomach {
	font-size:(43/10)*1rem;
	width:(42/43)*1em;
}
.icon-ticket {
	font-size:(151/10)*1rem;
	width:(239/151)*1em;
}
.icon-venus {
	font-size:(38/10)*1rem;
	width:(24/38)*1em;
}
