.modal
	.modal_container#order-call
		.modal_content
			form(action="#" method="post").form.__at-modal
				h3.form_title Всплывающее окно

				p.form_text.
					Супер маленький дескриптор для 
					всплывающего окна. Ознакомьтесь с 
					информаций ниже и наши специалисты 
					конечно же свяжутся с вами.

				.form_field-wrap
					label(for="order-call-name").form_field-label ФИО
					input(type="text" name="name" id="order-call-name" placeholder="Как к вам обращаться?").form_text-field
				.form_field-wrap
					label(for="order-call-tel").form_field-label Телефон
					input(type="tel" name="tel" id="order-call-tel" placeholder="+7 ___-___-__-__").form_text-field
				.form_field-wrap
					label(for="order-call-time").form_field-label Удобное время
					input(type="text" name="time" id="order-call-time" placeholder="Как к вам обращаться?").form_text-field

				.form_actions
					button(type="submit").btn Подать заявку

		a(href="#").modal_close

	.modal_overlay